<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>default</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>480</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default@2x</string>
		<key>width</key>
		<string>640</string>
		<key>height</key>
		<string>960</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-568@2x</string>
		<key>width</key>
		<string>640</string>
		<key>height</key>
		<string>1136</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-667@2x</string>
		<key>width</key>
		<string>750</string>
		<key>height</key>
		<string>1334</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-736@3x</string>
		<key>width</key>
		<string>1242</string>
		<key>height</key>
		<string>2208</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-ipad</string>
		<key>width</key>
		<string>768</string>
		<key>height</key>
		<string>1024</string>
		<key>platform</key>
		<string>iPad</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-ipad@2x</string>
		<key>width</key>
		<string>1536</string>
		<key>height</key>
		<string>2048</string>
		<key>platform</key>
		<string>iPad</string>
		<key>isPortrait</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>default-812@3x</string>
		<key>width</key>
		<string>1125</string>
		<key>height</key>
		<string>2436</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>isPortrait</key>
		<true/>
	</dict>
</array>
</plist>
