<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sizes</key>
		<array>
			<string>512</string>
			<string>1024</string>
		</array>
		<key>minsize</key>
		<string>512</string>
		<key>name</key>
		<string>iTunesArtwork</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>83.5</string>
			<string>167</string>
		</array>
		<key>minsize</key>
		<string>83.5</string>
		<key>name</key>
		<string>Icon-iPad</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>76</string>
			<string>152</string>
			<string>228</string>
		</array>
		<key>minsize</key>
		<string>76</string>
		<key>name</key>
		<string>Icon-76</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>72</string>
			<string>144</string>
		</array>
		<key>minsize</key>
		<string>72</string>
		<key>name</key>
		<string>Icon-72</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>60</string>
			<string>120</string>
			<string>180</string>
		</array>
		<key>minsize</key>
		<string>60</string>
		<key>name</key>
		<string>Icon-60</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>57</string>
			<string>114</string>
		</array>
		<key>minsize</key>
		<string>57</string>
		<key>name</key>
		<string>Icon</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>50</string>
			<string>100</string>
		</array>
		<key>minsize</key>
		<string>50</string>
		<key>name</key>
		<string>Icon-Small-50</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>40</string>
			<string>80</string>
			<string>120</string>
		</array>
		<key>minsize</key>
		<string>40</string>
		<key>name</key>
		<string>Icon-Spotlight-40</string>
	</dict>
	<dict>
		<key>sizes</key>
		<array>
			<string>29</string>
			<string>58</string>
			<string>87</string>
		</array>
		<key>minsize</key>
		<string>29</string>
		<key>name</key>
		<string>Icon-Small</string>
	</dict>
</array>
</plist>
